<section class="w-2/3 mx-auto bg-slate-200 my-8 p-5 rounded-lg">
    <form [formGroup]="detailsForm" (ngSubmit)="details()">
        <h1 class="text-2xl text-green-600 font-bold">Order Details : </h1>

        <div class="my-5">
            <label for="default-input"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Details</label>
            <input formControlName="details" type="text" id="details"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                [class]="{
                    'valid' : !detailsForm.get('details')?.errors && detailsForm.get('details')?.touched,
                    'invalid' : detailsForm.get('details')?.errors && detailsForm.get('details')?.touched
                }">

            @if (detailsForm.get('details')?.errors && detailsForm.get('details')?.touched) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>

                    <ul class="mt-1.5 list-disc list-inside">
                        @if(detailsForm.get('details')?.getError('required')){<li>Details is required</li>}
                        
                    </ul>
                </div>

            </div>
            }

        </div>

        <div class="my-5">
            <label for="default-input"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone</label>
            <input formControlName="phone" type="text" id="phone"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                [class]="{
                    'valid' : !detailsForm.get('phone')?.errors && detailsForm.get('phone')?.touched,
                    'invalid' : detailsForm.get('phone')?.errors && detailsForm.get('phone')?.touched
               
                }">

            @if (detailsForm.get('phone')?.errors && detailsForm.get('phone')?.touched) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>

                    <ul class="mt-1.5 list-disc list-inside">
                        @if(detailsForm.get('phone')?.getError('required')){<li>Phone is required</li>}
                    </ul>
                </div>

            </div>
            }

        </div>

        <div class="my-5">
            <label for="default-input"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">City</label>
            <input formControlName="city" type="text" id="city"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                [class]="{
                    'valid' : !detailsForm.get('city')?.errors && detailsForm.get('city')?.touched,
                    'invalid' : detailsForm.get('city')?.errors && detailsForm.get('city')?.touched
               
                }">

            @if (detailsForm.get('city')?.errors && detailsForm.get('city')?.touched) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>

                    <ul class="mt-1.5 list-disc list-inside">
                        @if(detailsForm.get('city')?.getError('required')){<li>City is required</li>}
                    </ul>
                </div>

            </div>
            }

        </div>

      <div class="w-full bg-emerald-600 p-3 rounded-lg text-white font-bold hover:bg-emerald-700 transition-all">
        <button class="w-full">payment <span class="ms-2"><i class="fa-brands fa-cc-visa"></i></span></button>
      </div>
    </form>
</section>