<section class="my-2 ">
    <div class="container w-[90%] mx-auto bg-slate-100 h-[80vh] rounded-xl">
        <div class="header text-center">
            <h1 class="text-2xl font-bold text-emerald-500 "><span class="border-b-2 border-emerald-500">OPTIONS</span></h1>
        </div >
        <div class="option grid sm:grid-cols-1 md:grid-cols-2 my-8 gap-3  p-5">

            <div routerLink="/changePassword" class="changepassword text-center product p-5 hover:cursor-pointer">
                <h1 class="font-bold text-xl">Change Your Password <span class="p-2"><i class="fa-solid fa-key text-emerald-600"></i></span></h1>
            </div>

            <div routerLink="/changeData" class="changepassword text-center product p-5 hover:cursor-pointer">
                <h1 class="font-bold text-xl">Change Your data <span class="p-2"><i class="fa-solid fa-database text-emerald-600"></i></span></h1>
            </div>

        </div>
    </div>
</section>
