<section class="w-2/3 mx-auto bg-slate-200 my-8 p-5 rounded-lg relative">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePasswordData()"  #changeForm>

        <h1 class="text-emerald-500  font-bold text-2xl">Update Password</h1>
    
        <div class="my-5">
            <label for="default-input"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Current Password</label>
            <input formControlName="currentPassword" type="text" id="currentPassword"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                [class]="{
                    'valid' : !changePasswordForm.get('currentPassword')?.errors && changePasswordForm.get('currentPassword')?.touched,
                    'invalid' : changePasswordForm.get('currentPassword')?.errors && changePasswordForm.get('currentPassword')?.touched
               
                }">
    
            @if (changePasswordForm.get('currentPassword')?.errors && changePasswordForm.get('currentPassword')?.touched) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>
    
                    <ul class="mt-1.5 list-disc list-inside">
                        @if(changePasswordForm.get('currentPassword')?.getError('required')){<li>current Password is required</li>}
                    </ul>
                </div>
    
            </div>
            }
    
        </div>
    
        <div class="my-5">
            <label for="default-input"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Password</label>
            <input formControlName="password" type="password" id="password"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                [class]="{
                    'valid' : !changePasswordForm.get('password')?.errors && changePasswordForm.get('password')?.touched,
                    'invalid' : changePasswordForm.get('password')?.errors && changePasswordForm.get('password')?.touched
               
                }">
    
            @if (changePasswordForm.get('password')?.errors && changePasswordForm.get('password')?.touched) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>
    
                    <ul class="mt-1.5 list-disc list-inside">
                        @if(changePasswordForm.get('password')?.getError('required')){<li> Password is required</li>}
                        @if(changePasswordForm.get('password')?.getError('pattern')){ <li>The password dosen't match the
                            pattern</li>}
                    </ul>
                </div>
    
            </div>
            }
    
        </div>
    
     
        <div class="my-5">
            <label for="default-input"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">rePassword</label>
            <input formControlName="rePassword" type="password" id="rePassword" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" [class]="{
                'invalid':changePasswordForm.errors && ( changePasswordForm.get('rePassword')?.touched || changePasswordForm.get('rePassword')?.dirty),
                'valid': !changePasswordForm.errors && (changePasswordForm.get('rePassword')?.touched || changePasswordForm.get('rePassword')?.dirty)
            }">

            @if (changePasswordForm.errors && changePasswordForm.get('rePassword')?.touched ) {
                <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>

                    <ul class="mt-1.5 list-disc list-inside">
                    
  
                        
                        @if (changePasswordForm.errors) {
                            <li>Doesn't match the password</li>
                        }
                    </ul>
                </div>

            </div>
            }

        </div>
    
        <button class="w-full bg-emerald-500 p-3 rounded-xl text-white hover:bg-emerald-600 transition-all duration-500 text-center">
            submit @if (loading != false) {<span><i class="fa-solid fa-circle-notch fa-spin"></i></span>}
        </button>
    
    </form>
</section>